* {
    /* border: 1px solid red; */
    background-color: #004225;
    margin: 0;
font-family: 'Times New Roman', Times, serif;}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
border-bottom: 10px solid lightyellow;}

.header-menu {
    display: flex;
    list-style-type: none;
    font-size: 30px;
    align-items:center;
    gap: 40px;
    padding: 0 15px;}

.header-menu a:hover {
    color:rgb(108, 150, 108);}

.header-menu > .active{
    color: #FFDB58;}

a {
    text-decoration: none;
    color: lightyellow;}

.logo {
    width: auto;
    height: 70px;}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 100px 30px 100px;
    font-size: 120px;
    color: lightyellow;
    font-weight: bold;}

.message-container {
    display: flex;
    align-items: center;
    padding: 80px;
    background-color:#004225;
padding-bottom: 100px;}

.message {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: lightyellow;
border-radius: 10px; }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    background-color: lightyellow;
    color: #004225;
}
.msg {
    background-color: lightyellow;
    text-align: center;
}

.content > button {
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color:rgb(108, 150, 108);
    color: lightyellow;
    border: 2px solid #004225;}

.video-section {
    display: flex;
    padding: 30px;
    background-color: lightyellow;
    
}

.videocontents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: lightyellow;
    flex: 1;

}

.video-title {
    font-size: 40px;
    color: #004225;
    font-weight: bold;
    margin: 10px 0px 40px 0px;
    background-color: lightyellow;
    
}

.video-message {
    text-align: center;
    font-size: 20px;
    background-color: lightyellow;
    display: flex;
   color: #004225;
    max-width: 1200px;
}

.video {
    max-width: 100px;
    max-height: 500px;
    padding: 170px 375px;
    margin-top: 30px;
    border-radius: 10px;
    border: 5px solid rgb(108, 150, 108) ;}

.photo {
    height: 180px;
    width: auto ;
    padding: 15px;
background-color:#004225;
border-radius: 10px;}   

.three-box-container {
    display: flex;
    padding: 50px;}

.content-container {
  display: flex;
  gap: 30px;
padding-top: 50px;}

.friend {
max-width: 850px;
background-color: lightyellow;
font-size: 18px;
padding: 20px;
display: flex;
border-radius: 10px;
flex-direction: column;
align-items: center;}

.left-side {
 display: flex;
 flex-direction: column;
 justify-content: space-between; 
gap: 40px;
border-radius: 10px;}

.photo-button {
    padding: 10px 30px;
    border-radius: 10px;
border: 2px solid #004225;
color: lightyellow;
background-color: rgb(108, 150, 108);
margin-bottom: 10px;}

.book, .photograph{
    background-color: lightyellow;
    border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;}

.book-cell {
    display: flex;
    gap: 10px;
align-items: center;
padding: 20px;
border-radius: 0px 0px 10px 10px;
background-color: lightyellow;}

.smallheader {
    font-size: 24px;
    background-color: lightyellow;
    text-align: center;
    font-weight: bold;
    color: #004225;
    margin-top:16px ; 
    width: 300px;}

.photo-cell {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    background-color: lightyellow;}

.smalltext{
background-color: lightyellow;
font-size: 18px;
text-align: center;
padding: 20px;
color: #004225;}

.friend-cell {
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20PX;
    margin-bottom: -0px;
    padding-bottom: 10px;
}

.friendtext {
    /* margin: 20px; */
    padding: 15px;
    background-color: rgb(108, 150, 108);
    border: solid 2px #004225;
    border-radius: 10PX;}

.friend-button {
    /* padding: 10px 50px; */
    margin-top: 20px;
    border: none;
    align-self: flex-end;
    background-color: lightyellow;
    color: #004225  ;
    max-width: 300px;
    font-size: 18px;
}