* {
    border: 1px solid red;
    background-color: #004225;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.header-menu {
    display: flex;
    list-style-type: none;
    color: white;
    font-size: 30px;
    align-items:center;
    gap: 40px;
    padding: 0;}

.header-menu a:hover {
    color:rgb(108, 150, 108);}
.header-menu > .active{
    color: #FFDB58;
}
a {
    text-decoration: none;
    color: lightyellow;

}
.logo {
    width: 100px;
    height: auto;
}